{% extends 'base.html' %}
{% block body %}
{% load static %}
<!-- Page Banner Start -->
<style>
	.page-banner {
  		background: rgba(0, 0, 0, 0) url("{% static 'img/background/shop-banner.jpg' %} ") no-repeat center center;
  		-webkit-background-size: cover;
  		background-size: cover;
  		text-align: center;
	}
</style>
<div class="page-banner padding-120 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>About us</h1>
			</div>
		</div>
	</div>
</div><!-- Page Banner End -->
<div class="page-breadcrumb fix">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li><a href="about.html#">Home</a></li>
					<li><span>About us</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- About Page Start -->
<div class="about-page page margin-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="welcome">
					<h2>welcome to <span>zackas</span></h2>
					<h3>EXCLUSIVE STORE</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="image">
					<img src="{% static 'img/about-us.jpg' %}" alt="" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="welcome">
					<h2>who <span>we are</span></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="our-services fix">
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>Our Mission</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>OVER 15 YEARS EXPERIENCE</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>WHAT WE DO</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>ONLINE ORDERING</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>OUR CLIENTS</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>TAILORING FOR FREE</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- About Page End -->	
{% endblock %}
