{% extends 'base2.html' %}
{% block body %}
{% load static %}
<!-- Page Banner Start -->
<style>
	.page-banner {
  		background: rgba(0, 0, 0, 0) url("{% static 'img/background/shop-banner.jpg' %} ") no-repeat center center;
  		-webkit-background-size: cover;
  		background-size: cover;
  		text-align: center;
	}
</style>
<div class="page-banner padding-120 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Add Category</h1>
			</div>
		</div>
	</div>
</div><!-- Page Banner End -->

<!-- About Page Start -->
<div class="about-page page margin-70 fix">
	<div class="container">
		<div class="row">
            <center><h4>Add Category</h4></center><br><br>
            <form action="" method="post">
                {% csrf_token %}
                <div class="col-md-12">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" placeholder="Name" name="cat">
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
                <br><br><br>

                <br><br><br>
                <div class="col-md-12">
                    <center>
                        <input class="btn btn-info" type="submit" value="Add Category" >
                    </center>

                </div>
                <br><br><br><br>





            </form>

	</div>
</div><!-- About Page End -->
{% endblock %}
