{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
	.page-banner {
  		background: rgba(0, 0, 0, 0) url("{% static 'img/background/shop-banner.jpg' %} ") no-repeat center center;
  		-webkit-background-size: cover;
  		background-size: cover;
  		text-align: center;
	}
</style>
<!-- Page Banner Start -->
<div class="page-banner padding-120 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Contact</h1>
			</div>
		</div>
	</div>
</div><!-- Page Banner End -->
<!-- About Page Start -->
<div class="contact-page page margin-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="contact-info">
					<div class="title"><h3>Contact Information</h3></div>
					<div class="row">
						<div class="col-sm-8 col-xs-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullaco laboris nisi ut aliquip. Ut enim ad minim veniam, quis nostrud exercitation ullam.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br /> tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="sin-contact fix">
								<img src="{% static 'img/icons/address-2.png' %}" alt="" />
								<p>Main town,  Anystreen <br />C/A 1254 New Yourk</p>
							</div>
							<div class="sin-contact fix">
								<img src="{% static 'img/icons/phone-2.png' %}" alt="" />
								<p>+012  456  456  456 <br />+012  356  897  222</p>
							</div>
							<div class="sin-contact fix">
								<img src="{% static 'img/icons/globe-2.png' %}" alt="" />
								<p><a href="contact.html#">info@zackas.com</a><a href="contact.html#">www.zackas.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div id="googleMap"></div>
			</div>
			<div class="col-xs-12">
				<div class="contact-form">
					<div class="title"><h3>Leave A Message</h3></div>
					<div class="row">
						<form action="#">
							<div class="col-sm-6 col-xs-12">
								<p>
									<label for="name">Name <span>*</span></label>
									<input type="text" id="name" />
								</p>
								<p>
									<label for="email">E-mail <span>*</span></label>
									<input type="email" id="email" />
								</p>
								<p>
									<label for="phone">Phone <span>*</span></label>
									<input type="text" id="phone" />
								</p>
								<p>
									<label for="subject">Subject <span>*</span></label>
									<input type="text" id="subject" />
								</p>
							</div>
							<div class="col-sm-6 col-xs-12">
								<p>
									<label for="message">Message <span>*</span></label>
									<textarea name="message" id="message" cols="30" rows="10"></textarea>
								</p>
								<p>
									<button class="btn">Send</button>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- About Page End -->	
{% endblock %}